<template id="footer">
    <footer class="page-footer transparent">
        <div class="footer-copyright blue-grey darken-1 z-depth-2">
            <div class="container">
                <span class="grey-text text-lighten-3">
                    © 2016 Will Pease
                </span>


                <div class="right hide-on-small-and-down">
                    <img class="left footer-copywrite-image" src="images/tic-tac-toe-icon-grey.svg">
                    <span class="left hide-on-med-and-up hide-on-med-and-down">
                        &nbsp; icon by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</template>