<template id="board">
    <div class="card-panel blue-grey darken-1 board">
        <div class="board-container z-depth-1">
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="0"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="1"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="2"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="3"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="4"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="5"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="6"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="7"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="8"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="9"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="10"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="11"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="12"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="13"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="14"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="15"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="16"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="17"></div>
            <div class="template-dummy" data-template-name="board-row" data-template-instance-identity="18"></div>
        </div>
    </div>
</template>