<template id="match-page-main-row">
    <div class="row main-page-row">
        <div class="template-dummy" data-template-name="match-ended-modal-template"></div>

        <div class="col m8 s12">
            <div class="template-dummy" data-template-name="board"></div>
        </div>

        <div class="col m4 s12">
            <div class="template-dummy" data-template-name="player-card" data-template-instance-identity="current-player"></div>
        </div>
        <div class="col m4 s12">
            <div class="template-dummy" data-template-name="player-card" data-template-instance-identity="other-player"></div>
        </div>

    </div>
</template>