<template id="match-report">
    <table>
        <tbody>
        <tr>
            <th>Player</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
        <tr data-instance-identity="current-player">
            <td class="player-name">PlayerName</td>
            <td class="player-wins">10</td>
            <td class="player-losses">1</td>
        </tr>
        <tr data-instance-identity="other-player">
            <td class="player-name">PlayerName</td>
            <td class="player-wins">10</td>
            <td class="player-losses">1</td>
        </tr>
        </tbody>
    </table>
</template>