<template id="match-ended-modal-template">
    <div id="match-ended-modal" class="modal">
        <div class="modal-content">
            <h4>Match Ended</h4>
            <p class="modal-text"></p>
            <div class="template-dummy" data-template-name="match-report"></div>
        </div>

        <div class="modal-footer">
            <a href="#" class="match-ended-modal-menu-button modal-action waves-effect waves-green btn-flat">Back to Menu</a>
            <a href="#" class="match-ended-modal-new-match-button modal-action waves-effect waves-green btn-flat">New Game</a>
        </div>
    </div>
</template>