<template id="edit-player-icon-modal-template">
    <div id="edit-player-icon-modal" class="modal">
        <div class="modal-content">
            <h4>Edit Icon</h4>
            <p class="modal-text">Select an icon:</p>
            <img class="player-icon-choice" data-player-icon="boy-0" src="images/player/boy-0.svg">
            <img class="player-icon-choice" data-player-icon="boy-1" src="images/player/boy-1.svg">
            <img class="player-icon-choice" data-player-icon="boy-2" src="images/player/boy-2.svg">
            <img class="player-icon-choice" data-player-icon="boy-3" src="images/player/boy-3.svg">
            <img class="player-icon-choice" data-player-icon="boy-4" src="images/player/boy-4.svg">
            <img class="player-icon-choice" data-player-icon="boy-5" src="images/player/boy-5.svg">
            <img class="player-icon-choice" data-player-icon="boy-6" src="images/player/boy-6.svg">
            <img class="player-icon-choice" data-player-icon="boy-7" src="images/player/boy-7.svg">
            <img class="player-icon-choice" data-player-icon="boy-8" src="images/player/boy-8.svg">
            <img class="player-icon-choice" data-player-icon="boy-9" src="images/player/boy-9.svg">
            <img class="player-icon-choice" data-player-icon="boy-10" src="images/player/boy-10.svg">
            <img class="player-icon-choice" data-player-icon="boy-11" src="images/player/boy-11.svg">
            <img class="player-icon-choice" data-player-icon="boy-12" src="images/player/boy-12.svg">
            <img class="player-icon-choice" data-player-icon="boy-13" src="images/player/boy-13.svg">
            <img class="player-icon-choice" data-player-icon="boy-14" src="images/player/boy-14.svg">
            <img class="player-icon-choice" data-player-icon="boy-15" src="images/player/boy-15.svg">
            <img class="player-icon-choice" data-player-icon="boy-16" src="images/player/boy-16.svg">
            <img class="player-icon-choice" data-player-icon="boy-17" src="images/player/boy-17.svg">
            <img class="player-icon-choice" data-player-icon="boy-18" src="images/player/boy-18.svg">
            <img class="player-icon-choice" data-player-icon="boy-19" src="images/player/boy-19.svg">
            <img class="player-icon-choice" data-player-icon="boy-20" src="images/player/boy-20.svg">
            <img class="player-icon-choice" data-player-icon="boy-21" src="images/player/boy-21.svg">
            <img class="player-icon-choice" data-player-icon="boy-22" src="images/player/boy-22.svg">
            <img class="player-icon-choice" data-player-icon="girl-0" src="images/player/girl-0.svg">
            <img class="player-icon-choice" data-player-icon="girl-1" src="images/player/girl-1.svg">
            <img class="player-icon-choice" data-player-icon="girl-2" src="images/player/girl-2.svg">
            <img class="player-icon-choice" data-player-icon="girl-3" src="images/player/girl-3.svg">
            <img class="player-icon-choice" data-player-icon="girl-4" src="images/player/girl-4.svg">
            <img class="player-icon-choice" data-player-icon="girl-5" src="images/player/girl-5.svg">
            <img class="player-icon-choice" data-player-icon="girl-6" src="images/player/girl-6.svg">
            <img class="player-icon-choice" data-player-icon="girl-7" src="images/player/girl-7.svg">
            <img class="player-icon-choice" data-player-icon="girl-8" src="images/player/girl-8.svg">
            <img class="player-icon-choice" data-player-icon="girl-9" src="images/player/girl-9.svg">
            <img class="player-icon-choice" data-player-icon="girl-10" src="images/player/girl-10.svg">
            <img class="player-icon-choice" data-player-icon="girl-11" src="images/player/girl-11.svg">
            <img class="player-icon-choice" data-player-icon="girl-12" src="images/player/girl-12.svg">
            <img class="player-icon-choice" data-player-icon="girl-13" src="images/player/girl-13.svg">
            <img class="player-icon-choice" data-player-icon="girl-14" src="images/player/girl-14.svg">
            <img class="player-icon-choice" data-player-icon="girl-15" src="images/player/girl-15.svg">
            <img class="player-icon-choice" data-player-icon="girl-16" src="images/player/girl-16.svg">
            <img class="player-icon-choice" data-player-icon="girl-17" src="images/player/girl-17.svg">
            <img class="player-icon-choice" data-player-icon="girl-18" src="images/player/girl-18.svg">
            <img class="player-icon-choice" data-player-icon="girl-19" src="images/player/girl-19.svg">
            <img class="player-icon-choice" data-player-icon="girl-20" src="images/player/girl-20.svg">
            <img class="player-icon-choice" data-player-icon="girl-21" src="images/player/girl-21.svg">
            <img class="player-icon-choice" data-player-icon="girl-22" src="images/player/girl-22.svg">
            <img class="player-icon-choice" data-player-icon="girl-23" src="images/player/girl-23.svg">
            <img class="player-icon-choice" data-player-icon="girl-24" src="images/player/girl-24.svg">
            <img class="player-icon-choice" data-player-icon="girl-25" src="images/player/girl-25.svg">
            <img class="player-icon-choice" data-player-icon="girl-26" src="images/player/girl-26.svg">
        </div>

        <div class="modal-footer">
            <a href="#" class="edit-player-icon-cancel-button modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#" class="edit-player-icon-submit-button disabled modal-action waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>
</template>