<template id="edit-player-profile-modal-template">
    <div id="edit-player-profile-modal" class="modal">
        <div class="modal-content">
            <h4>Edit Profile</h4>
            <p class="modal-text"></p>
            <form>
                <div>
                    <input placeholder="name" id="username-field" type="text">
                    <label for="username-field">Name</label>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <a href="#" class="edit-player-profile-cancel-button modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#" class="edit-player-profile-submit-button modal-action waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>
</template>