<template id="player-card">
    <div class="card blue-grey darken-1">
        <div class="card-content grey-text text-lighten-3">

            <div class="card-image">
                <img class="player-icon">
            </div>
            <span class="player-turn-indicator-helper">
                <span class="player-turn-indicator hide"><i class="material-icons player-turn-indicator-icon">play_arrow</i> </span>
                <span class="card-title player-name">PlayerName</span>
            </span>
            <p class="player-piece hide">xyz</p>
            <p class="player-wins">Wins: </p>
            <p class="player-losses">Losses: </p>
        </div>
    </div>
</template>