<template id="player-search-card">
    <div class="card blue-grey darken-1">
        <div class="card-content grey-text text-lighten-3">
            <span class="card-title">Looking for player...</span>
            <table>
                <tbody>
                <tr>
                    <td><div class="progress grey darken-4">
                        <div class="indeterminate grey lighten-1"></div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>