<template id="entry-page-main-row">
    <div class="row main-page-row valign-wrapper">

        <!-- entry-page -->
        <div class="col m5 s12">
            <div class="template-dummy" data-template-name="main-menu"></div>
        </div>

        <div class="col m5 offset-m2 hide-on-small-and-down">
            <div class="template-dummy" data-template-name="tic-tac-toe-icon" data-template-noautoshow="true"></div>
            <div class="template-dummy" data-template-name="player-card" data-template-instance-identity="current-player" data-template-noautoshow="true"></div>
        </div>

    </div>
</template>