<template id="match-report-card">
    <div class="card blue-grey darken-1 grey-text text-lighten-3">
        <div class="card-content">
            <span class="card-title">Carnage Report</span>
            <table>
                <tbody>
                    <tr>
                        <th>Player</th>
                        <th>Moves</th>
                        <th>Wins</th>
                    </tr>
                    <tr>
                        <td>PlayerName</td>
                        <td>10</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>PlayerName</td>
                        <td>200</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-action right-align">
            <a class="match-report-card-back-button" href="#">Back to Menu</a>
            <a class="match-report-card-new-match-button" href="#">New Match</a>
        </div>
    </div>
</template>