<template id="match-found-page-main-row">
    <div class="row main-page-row">

        <div class="template-dummy" data-template-name="match-start-count-down" data-template-noautoshow="true"></div>

        <div class="col m6 s12">
            <div class="template-dummy" data-template-name="player-card" data-template-instance-identity="current-player"></div>
        </div>

        <div class="col m6 s12">
            <div class="template-dummy" data-template-name="player-card" data-template-instance-identity="other-player"></div>
        </div>

    </div>
</template>